<h1>
  <%= Ingredient.model_name.human :count => 2 %>
</h1>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<h1>
  <%= Recipe.model_name.human :count => 2 %>
</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
  <% end %>
</ul>